:root {
  --gradient-main: linear-gradient(90deg, #0037c0 0%, #0037c0 100%);
  --gradient-main-loop: linear-gradient(
    90deg,
    #0037c0 0%,
    #e9e9e9 35%,
    #0037c0 50%,
    #0037c0 65%,
    #0037c0 100%
  );

  :root {
    --font-family: 'Bionix';
  }

  body {
    font-family: var(--font-family) !important;
  }

  --gradient-green: linear-gradient(90deg, #40c463 0%, #6afb90 100%);
  --gradient-blue: linear-gradient(90deg, #0037c0, #72aaff);
  --gradient-aqua: linear-gradient(90deg, #00aaff, hsl(170, 100%, 67%));
  --gradient-purple: linear-gradient(90deg, #b721ff, #d16fff);
  --gradient-pink: linear-gradient(90deg, #ff21e9, #ff6ff3);
  --gradient-white: linear-gradient(90deg, #c8c8c8, #e9e9e9);
  --gradient-yellow: linear-gradient(90deg, #fff421, #fdff6f);
  --gradient-red: linear-gradient(90deg, #ff3021, #ff796f);
  --gradient-orange: linear-gradient(90deg, #ff9421, #ffbe6f);

  --primary-color: #0037c0;
  --primary-color-light: #0037c0;
  --primary-color-transparent: #0037c0;
  --primary-color-more-transparent: rgba(255, 255, 255, 0.25);

  --green-color: #40c463;
  --purple-color: #c851ff;
  --blue-color: #0037c0;
  --bluee-color: #0037c0;
  --aqua-color: #5fdfff;
  --white-color: #e9e9e9;
  --pink-color: #da3dca;
  --yellow-color: #dbd341;
  --red-color: #d34339;
  --orange-color: #ff9421;
}

@media (prefers-color-scheme: light), (prefers-color-scheme: dark) {
  :root {
    --body-color: #0037c0;
    --contrast-color: #30363d;
    --transparent-background: hsla(0, 0%, 80%, 0.15);
    --more-transparent-background: hsla(0, 0%, 80%, 0.08);
    --card-background: #161b22d0;
    --dark-card-background: #0e1115d0;
    --font-color-primary: #f4f4f4;
    --font-color-secondary: #f4f4f4;
    --outline-color: #beb8ca;
  }
}
