/* ImageSlider.module.css */

.sliderContainer {
    position: relative;
    width: 100%;
    height: 500px; /* Default height, can be adjusted */
    overflow: hidden;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    will-change: opacity;
  }
  
  .slide.active {
    opacity: 1;
    visibility: visible;
  }
  
  @media (max-width: 768px) {
    .sliderContainer {
      height: 300px; /* Adjust height for smaller screens */
    }
  
    .slide {
      background-position: top center; /* Adjust image position for mobile devices */
    }
  }
  