name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout the repository
      - uses: actions/checkout@v2

      # Step 2: Set up Node.js (if needed for building)
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.17'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: npm install

      # Step 4: Build the project
      - name: Build project
        run: npm run build

      # Step 5: Sync files in 'out' folder to GCS bucket
      - name: Sync with GCS
        uses: patrickwyler/gcs-bucket-sync-action@1.4
        with:
          secrets: ${{ secrets.GCP_SA_KEY }}
          bucket: 'nimuneg.org'
          sync_dir_from: 'out/' # Specify the directory to sync
          exclude: '.\.md$|\.gitignore$|\.git/.$|\.github/.*$'
